body{
    display: flex;
    justify-content: center;
}
.wrap{
    display: flex;
    width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
}
.post{
    width: 220px;
    height: 320px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;

}

.post h3{
    margin: 0;
}
.post h4{
    height: 50px;
}
.comment{
    width: 220px;
    height: 320px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;

}

.comment h3{
    margin: 0;
}
.comment h4{
    margin: 4px;
}
.comment h5{
    height: 50px;
}